@font-face {
  font-family: "Pretend";
  src: url("/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "PretendExtra";
  src: url("/fonts/Pretendard-ExtraBold.otf") format("opentype");
}

:root {
  --chakra-fonts-body: unset;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Pretend", BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  width: 375px;
  margin: 0 auto;
  background-color: #f6f7f9;
  color: #343943;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  margin: 0 auto;
  max-width: 720px;
  min-width: 320px;
  height: 100%;
}

.CircularProgressbar-trail {
  stroke-width: 1;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
