@font-face {
  font-family: PretendBold;
  src: url("../public/fonts/Pretendard-Bold.otf");
}
@font-face {
  font-family: PretendLight;
  src: url("../public/fonts/Pretendard-Light.otf");
}
@font-face {
  font-family: PretendMedium;
  src: url("../public/fonts/Pretendard-Medium.otf");
}
@font-face {
  font-family: PretendSemiBold;
  src: url("../public/fonts/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: Pretend;
  src: url("../public/fonts/Pretendard-Regular.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretend", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 14px;
  width: 375px;
  background-color: #f6f7f9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  margin: 0 auto;
  max-width: 720px;
  min-width: 320px;
  height: 100%;
}

.CircularProgressbar-trail {
  stroke-width: 1;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
