:root {
  --chakra-fonts-body: unset;
}

@font-face {
  font-family: "apple";
  src: url("/fonts/subsetAppleSDGothicNeoR.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "apple";
  src: url("/fonts/subsetAppleSDGothicNeoB.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

html {
  background-color: var(--gray-8);
}
body {
  font-family: apple;
  font-size: 14px;
  background-color: var(--gray-8);
  color: var(--gray-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactQueryDevtoolsPanel {
  height: 320px !important;
}

#__next {
  min-width: 340px;
  max-width: 390px;
  padding-top: 56px !important;
  padding-bottom: 40px;
  min-height: calc(100dvh - 96px);
  margin: 0 auto;
  background-color: var(--gray-8);

  overflow: hidden;
}

.CircularProgressbar-trail {
  stroke-width: 1;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
