:root {
  --max-width: 390px;

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  --gray-1: #2d3748;
  --gray-2: #4a5568;
  --gray-3: #718096;
  --gray-4: #a0aec0;
  --gray-5: #cbd5e0;
  --gray-6: #e2e8f0;
  --gray-7: #edf2f7;
  --gray-8: #f7fafc;

  --color-mint: #00c2b3;
  --color-mint-light: rgba(0, 194, 179, 0.1);

  --border: 1px solid var(--gray-6);
  --border-thick: 2px solid var(--gray-1);
  --border-mint: 2px solid var(--color-mint);

  --rounded: 4px;
  --rounded-lg: 8px;
  --rounded-max: 12px;

  --gap-5: 20px;
  --gap-4: 16px;
  --gap-3: 12px;
  --gap-2: 8px;
  --gap-1: 4px;

  --header-height: 46px;

  --header-h: 56px;

  --view-max-width: calc(var(--max-width) - 2 * var(--gap-4));
  --color-orange: #ffa500;

  --color-red: #ff6b6b;
  --color-blue: #6bafff;
  --input-bg: var(--gray-7);
}
