:root {
  --max-width: 390px;
  --font-h1: #343943;
  --font-h2: #565b67;
  --font-h3: #767d8a;
  --font-h4: #a0a4af;
  --font-h5: #d1d6dd;
  --font-h6: #e3e6eb;
  --font-h56: #eaecf0;
  --font-h7: #f0f2f5;
  --font-h8: #f6f7f9;

  --color-orange: #ffa500;
  --color-mint: #00c2b3;
  --color-red: #ff6b6b;

  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-sub: 0px 2px 4px rgba(0, 0, 0, 0.05);

  --border-main: 1.5px solid var(--font-h5);
  --border-main-light: 1.5px solid var(--font-h56);
  --border-sub: 1px solid var(--font-h56);
  --border-thick: 2px solid var(--font-h1);
  --border-mint: 1.5px solid var(--color-mint);
  --border-focus: 1.5px solid var(--font-h1);

  --border-radius-sub: 6px;
  --border-radius-main: 12px;

  --padding-max: 20px;
  --padding-main: 16px;
  --padding-sub: 12px;
  --padding-md: 8px;
  --padding-min: 4px;

  --margin-max: 20px;
  --margin-main: 16px;
  --margin-sub: 12px;
  --margin-md: 8px;
  --margin-min: 4px;

  --header-height: 46px;
  --line-height: 1.8;

  --input-bg: var(--font-h7);
  --width-inline-title: 15%;
}
